* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


 /*31/08/24* FOOTER SECTION*/

 .footer-main{
    display: flex;
    justify-content: start;
    border-top: 32px solid #011429e4;
    border-bottom: 32px solid #011429e4;
    padding: 32px 32px;
    background-color:white; 
    color:  #001021e4;
    font-size: 30px;
    width:100vw;
    
    
  }

  .link{
    padding: 16px 16px;

  }

  .link>a{
    text-decoration: none;
    background-color: transparent;
    color: #001021e4;
    
 }

 .footer-contact{
    padding: 16px 16px;
 }

  .footer-copy{

    display: inline;

  }

  .footer-copy>p{
    background-color:white;
    color: #011429;
    padding: 8px 8px;
    text-align: center;
    border: 4px solid #011429 ;
    font-size: 20px;
  }